    <div class="row">
      <div class="col s12 m5">
      {{#if nodeSelected}}
        <div class="card-panel brown">
          <span class="white-text">{{snpLabel}}
          </span>
        </div>
      {{/if}}
      </div>
    </div>
