.heatmap-d3 {

  path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
  }

  
  .axis text {
    font: 1.2em sans-serif;
  }

  .axis path,
  .axis line {
    stroke: grey;
    stroke-width: .2;
    shape-rendering: crispEdges;
  } 
  
  .axxis {
   path, line {
     stroke: $primary-color;
   }
 
    text {
      /* font-size: 2vw; */
    }
  }

  .data-info-field {
    width: 25%;
    position: relative;
    float: right;
    padding: 2em 1.2em;
    margin-bottom: 2em;
    background-color: #f7f7f7;
    border-radius: .5em;
    
    &.mutated {
      color: #fff;
      background-color: green;
    }
  }
}
