.heatmap-d3 {

  path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
  }

  
  .axis text {
    font: 1.2em sans-serif;
  }

  .axis path,
  .axis line {
    stroke: grey;
    stroke-width: .2;
    shape-rendering: crispEdges;
  } 
  
  .axxis {
   path, line {
     stroke: $primary-color;
   }
 
    text {
      font-size: 14px;
    }
  }

}
