body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@for $i from 1 through 12 {
  .height-#{$i} {
    height: 30em / 12 * $i;
  }
}

.relative {
  position: relative;
}