<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">iSNP</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>{{#link-to "mutations"}}Mutations{{/link-to}}</li>
        <li>{{#link-to "network"}}Network{{/link-to}}</li>
        {{#if session.isAuthenticated}}
        <li><a href="#" {{action "invalidateSession"}}>Logout</a></li>  
        {{else}}
        <li>{{#link-to 'login' }}Login{{/link-to}}</li>  
        {{/if}}
      </ul>
    </div>
  </nav>
</header>
<main>
{{outlet}}
</main>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">iSNP Explorer</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Learn more about iSNP</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Jessica Jordan
    </div>
  </div>
</footer>

