<div class="container">
  <section class="row">
    <div class="col s12">
      <h2>Dashboard</h2>
    </div>
  </section>
  <section class="row">
    <div class="col s8">
      <h5>Seed data currently stored in the backend in excel sheets into the backend's database</h5>
    </div>
    <div class="col s4">
      <button class="btn btn-large waves-effect waves-light" {{action "seedData"}}>Seed Data</button>
    </div>
  </section>
  <hr>
  <section class="row">
    <div class="col s8">
      <h5>Authorize Users</h5>
    </div>
    <div class="col s4">
      <button class="btn btn-large waves-effect waves-light" {{action "authorizeUsers"}}>Authorize</button>
    </div>
  </section>
</div>

