<div class="container">
  <section class="blue mt-2 row lighten-2 white-text">
    <div class="col s12 center">
      <h1>Facade</h1>
      <h3>a web application for the exploration of iSNP data</h3>
    </div>
  </section>
  <section class="mb-2">
    <div class="col s12 center">
      <hr>
      <h3 class="light-text mt-1">Get access to iSNP data</h3>
      <div class="row mt-1">
        <div class="col s12 m6 center">
          {{#link-to 'register' classNames="btn btn-large waves-effect waves-light brown darken-3"}}Register{{/link-to}}
        </div>
        <div class="col s12 m6 center">
          {{#link-to 'login' classNames="btn btn-large waves-effect waves-light blue darken-3"}}Login{{/link-to}}
        </div>
      </div>
    </div>
  </section>
</div>
