<div class="container">
  <h2>Index Route</h2>
  {{interactions-map}}
  {{#if model}}
   <section class="row">
    <div class="col s12">
      {{heatmap-d3 jsonData=model}} 
    </div>
  </section>
  {{/if}}
  {{outlet}}
</div>
