<div class="container">
  <section class="row">
    <div class="col s12 offset-m3 m6 center mt-3">
      <h5 class="center center">Login</h5>
      {{login-form classNames="mb-5" onSubmit=(action "authenticate")}}
    </div>
  </section>
</div>
