<section class="container center text-center">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <h4 class="center text-center mt-1">Register to get access to iSNP data</h4>
      {{registration-form classNames="mt-1" onSubmit=(action "userDidRegister")}}
    </div>
  </div>
  {{outlet}}
</section>

